$clr-light-grn: #E1FF8F;
$clr-dark-grn: #BCEC30;
$clr-dark: #202027;
$clr-light: #FFF;

$font-size-h1: 64px;
$font-size-h2: 48px;
$font-size-h3: 32px;

$border-radius: 30px;

@mixin main-btn {
    padding: 16px 65px;

    font-size: 24px;
    line-height: 32px;

    font-weight: 600;

    color: $clr-light;
    border-radius: 999px;
    border: none;
    background-color: $clr-dark;

    &:hover {
        background-color: transparent;
        color: $clr-dark;

        outline: solid $clr-dark 1px;
        outline-offset: -1px;
    }
}

body {
    min-width: 300px;
    display: flex;
    flex-direction: column;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Montserrat", sans-serif;

    transition: all 0.1s, width 0s;

}

h1 {
    font-size: $font-size-h1;
    font-weight: 700;
}

h2 {
    font-size: $font-size-h2;
    font-weight: 700;
}

h3 {
    font-size: $font-size-h3;
    font-weight: 700;
}

body {
    font-size: 24px;
}

.center {
    padding-left: max(calc(50% - 600px), 40px);
    padding-right: max(calc(50% - 600px), 40px);
}

.header {
    position: relative;
    overflow-x: hidden;

    &__animation {
        position: absolute;
        overflow-x: hidden;
        left: 0;
        bottom: 0;
    }
}

.animation {
    min-width: 100vw;
    width: fit-content;
    height: 90px;

    display: flex;
    align-items: center;
    background-color: $clr-dark-grn;

    &__ul {

        display: flex;
        align-items: center;

        list-style: none;
    }

    &__li {
        position: relative;
        flex-wrap: nowrap;
        flex-shrink: 0;

        display: flex;
        flex-wrap: nowrap;

        &::after {
            content: '';
            display: block;
            width: 36px;
            height: 36px;
            margin: 0 51px;
            background-image: url('data:image/svg+xml,<svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18 0L22.8616 13.1384L36 18L22.8616 22.8616L18 36L13.1384 22.8616L0 18L13.1384 13.1384L18 0Z" fill="%23202027"/></svg>');
        }
    }

    &__link {
        font-size: 30px;
        letter-spacing: 0.04em;
        font-weight: 700;
        text-transform: uppercase;
    }
}

.wellcome {
    padding-top: 196px;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    overflow-x: hidden;
    background-color: $clr-light-grn;
    background-image: url("../pictures/big_star.svg");
    background-repeat: no-repeat;
    background-position: 100% 0;

    position: relative;

    &::before {
        content: '';
        position: absolute;
        width: 128px;
        height: 82px;
        background-image: url('../pictures/wellcome_stars.svg');
        background-repeat: no-repeat;
        background-position: 0 0;
        left: max(0px, calc(50% - 657px));
        top: 68px;
    }

    &::after {
        content: '';
        position: absolute;
        width: 148px;
        height: 113px;
        background-image: url('../pictures/wellcome_stars2.svg');
        background-repeat: no-repeat;
        background-position: 0 0;
        right: max(230px, calc(50% - 376px));
        bottom: 150px;
    }

    &__header {
        margin-bottom: 24px;
    }

    &__text {
        max-width: 740px;
        padding-bottom: 48px;
        line-height: 32px;

        & b {
            font-weight: 600
        }
    }

    &__lets-go-btn {
        @include main-btn;
    }
}

.about {
    background-color: $clr-dark;

    padding-top: 94px;
    padding-bottom: 50px;

    color: $clr-light;
    overflow-x: hidden;


    &__header {
        font-size: $font-size-h1;
        margin-bottom: 24px;
    }

    &__text {
        line-height: 32px;
        margin-bottom: 72px;
        max-width: 778px;
    }

    &__content {
        display: flex;
        justify-content: flex-start;
        gap: 32px;
        position: relative;


        &::after {
            content: '';
            position: absolute;
            width: 650px;
            height: 650px;
            background-image: url('../pictures/about_big.svg');
            background-repeat: no-repeat;
            background-position: 0 0;
            right: -263px;
            top: -287px;
        }

        &::before {
            content: '';
            position: absolute;
            width: 75px;
            height: 112px;
            background-image: url('../pictures/about_small.svg');
            background-repeat: no-repeat;
            background-position: 0 0;
            left: -95px;
            top: 405px;
        }


    }

    &__column {
        display: flex;
        flex-direction: column;
        gap: 32px;

        flex: 1 1 30%;
        background-color: transparent;
        z-index: 10;
    }

    &__item {
        background-color: $clr-light;
        color: $clr-dark;
        flex: 1 1 50%;

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        border-radius: $border-radius;

        &:hover {
            transform: scale(1.06);
        }
    }

    &__item-img {
        width: 100%;
    }

    &__item-text {
        margin-right: 32px;
        margin-left: 32px;
        margin-bottom: 16px;
        margin-top: 32px;

        font-size: 16px;
        line-height: 18px;
        font-weight: 500;

        padding: 8px 16px 10px 16px;

        border-radius: 999px;
        background-color: #F7F7F7;
    }

    &__item-header {
        margin-right: 32px;
        margin-left: 32px;
        margin-bottom: 36px;
    }

}

.games {
    background-color: $clr-dark;
    padding-top: 46px;
    padding-bottom: 144px;

    color: $clr-light;
    overflow-x: hidden;

    &__header {
        font-size: $font-size-h1;
        margin-bottom: 72px;
    }

    &__content {
        display: flex;
        position: relative;
        flex-direction: column;

        justify-content: flex-start;
        align-items: stretch;
        gap: 32px;

        &::after {
            content: '';
            position: absolute;
            width: 139px;
            height: 89px;
            background-image: url('../pictures/games_after.svg');
            background-repeat: no-repeat;
            background-position: 0 0;
            right: -69px;
            bottom: -98px;
        }

        &::before {
            content: '';
            position: absolute;
            width: 113px;
            height: 103px;
            background-image: url('../pictures/games_before.svg');
            background-repeat: no-repeat;
            background-position: 0 0;
            right: -73px;
            top: -102px;
        }
    }

    &__item {
        display: grid;
        z-index: 10;
        grid-template-columns: 1fr 1fr;

        border-radius: $border-radius;
        background-color: $clr-light;

        overflow: hidden;

        &:nth-child(2n+1) {
            direction: rtl;

            >* {
                direction: ltr;
            }
        }
    }

    &__item-pict {
        display: block;
        overflow: hidden;
        width: 100%;

        border-radius: $border-radius;
    }


    &__item-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;


        color: $clr-dark;

        padding: 48px;


    }

    &__item-header {
        font-size: $font-size-h2;
        margin-bottom: 24px;
    }

    &__item-description {
        margin-bottom: 36px;
        line-height: 32px
    }

    &__item-button {
        @include main-btn();
        padding-left: 75px;
        padding-right: 75px;
    }
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 61px 0;

    background-color: $clr-dark-grn;

    &__rights {
        font-size: 24px;
        font-weight: 600;
    }
}

@media (max-width: 1240px) {

    .wellcome {
        &__header {
            font-size: 40px;
            line-height: 49px;
            margin-bottom: 24px;
        }

        &__text {
            max-width: 490px;
            padding: 0;
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 36px;
        }

        &__lets-go-btn {
            font-size: 16px;
            line-height: 22px;
            padding-bottom: 16px;
            padding-top: 16px;
        }
    }

    .about {
        padding-top: 94px;
        padding-bottom: 50px;

        &__header {
            font-size: $font-size-h2;

            margin-bottom: 24px;
        }

        &__text {
            font-size: 16px;
            line-height: 20px;
        }

        &__content {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            gap: 24px;
            position: relative;

            &::after {
                content: '';
                position: absolute;

                right: -263px;
                top: -287px;
            }

            &::before {
                content: '';
                position: absolute;

                left: -95px;
                top: 405px;
            }
        }

        &__column {
            display: flex;
            flex-direction: row;
            gap: 24px;
            height: auto;
        }

        &__item {
            flex: 1 1 40%;
            overflow: hidden;
        }

        &__item-img {
            width: 100%;
            border-radius: $border-radius;
        }

        &__item-text {
            margin-right: 24px;
            margin-left: 24px;
            margin-bottom: 16px;
            margin-top: 24px;
        }

        &__item-header {
            margin-right: 24px;
            margin-left: 24px;
        }
    }

    .games {


        &__content {
            gap: 24px;
        }

        &__item {
            flex-wrap: wrap;

        }



        &__item-pict {
            height: 100%;
            object-fit: cover;
        }


        &__item-text {
            padding: 29px;
            padding-bottom: 33px;
        }

        &__item-header {
            font-size: $font-size-h3;
            margin-bottom: 16px;
        }

        &__item-description {
            font-size: 16px;
            line-height: 20px;
            margin-bottom: 32px;
        }

        &__item-button {
            font-size: 16px;
            line-height: 20px;
        }
    }
}

@media (max-width: 720px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .animation {
        height: 52px;

        &__li {
            &::after {
                width: 20px;
                height: 20px;
                margin: 0 27px;
                background-size: contain;
            }
        }

        &__link {
            font-size: 16px;
            line-height: 20px;
        }
    }

    .wellcome {
        text-align: center;
        align-items: center;
        min-height: 700px;
        padding-top: 147px;
        padding-left: 40px;
        padding-right: 40px;

        background-image: url("../pictures/big_star_mobile.svg");


        &__lets-go-btn {
            margin: 0 5px;
            padding: 16px 0px;
            max-width: 284px;
            width: 100%;
            align-self: center;


            &:hover {
                background-color: $clr-dark;
                color: $clr-light;
            }
        }

        &::before {
            content: '';
            position: absolute;
            width: 75px;
            height: 68px;
            background-image: url('../pictures/wellcome_stars_mobile.svg');
            background-repeat: no-repeat;
            background-position: 0 0;
            left: max(0px, 36px);
            top: 64px;
        }

        &::after {
            content: '';
            position: absolute;
            width: 70px;
            height: 64px;
            background-image: url('../pictures/wellcome_stars2_mobile.svg');
            background-repeat: no-repeat;
            background-position: 0 0;
            right: max(0px, calc(50% - 153px));
            bottom: 79px;
        }
    }

    .about {
        display: none;
    }

    .games {
        padding-top: 48px;
        padding-bottom: 10px;

        &__header {
            font-size: 40px;
            line-height: 49px;
            margin-bottom: 48px;
        }

        &__content {

            &::before,
            &::after {
                display: none;
            }
        }

        &__item {
            display: flex;
            flex-direction: column;
        }

        &__item-button {
            padding: 16px auto;
            width: 100%;

            &:hover {
                background-color: $clr-dark;
                color: $clr-light;
            }
        }
    }

    .footer {
        padding-top: 40px;
        padding-bottom: 40px;

        &__rights {
            font-size: 16px;
            line-height: 20px;
        }
    }
}