$clr-light-grn: #E1FF8F;
$clr-dark-grn: #BCEC30;
$clr-dark: #202027;
$clr-light: #FFF;

$font-size-h1: 64px;
$font-size-h2: 48px;
$font-size-h3: 32px;

$border-radius: 30px;

@mixin main-btn {
    padding: 16px 65px;

    font-size: 24px;
    font-weight: 600;

    color: $clr-light;
    border-radius: 999px;
    border: none;
    background-color: $clr-dark;

    &:hover {
        background-color: transparent;
        color: $clr-dark;

        outline: solid $clr-dark 1px;
        outline-offset: -1px;
    }
}

body{
    display: flex;
    flex-direction: column;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Montserrat", sans-serif;
    font-size: 24px;

    transition: all 0.1s;
}

h1 {
    font-size: $font-size-h1;
    font-weight: 700;
}

h2 {
    font-size: $font-size-h2;
    font-weight: 700;
}

h3 {
    font-size: $font-size-h3;
    font-weight: 700;
}



.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.wellcome {
    padding-top: 196px;
    min-height: 800px;

    background-color: $clr-light-grn;

    &__header {
        margin-bottom: 24px;
    }

    &__text {
        padding-bottom: 48px;
    }

    &__lets-go-btn {
        @include main-btn;
    }
}

.about {
    background-color: $clr-dark;
    padding-top: 94px;
    padding-bottom: 50px;

    color: $clr-light;

    &__header {
        font-size: $font-size-h1;
        margin-bottom: 24px;
    }

    &__text {
        margin-bottom: 72px;
        max-width: 778px;
    }

    &__content {
        display: flex;
        justify-content: flex-start;
        gap: 32px;
    }

    &__column {
        display: flex;
        flex-direction: column;
        gap: 32px;

        flex: 1 1 30%;
        background-color: transparent;
    }

    &__item {
        background-color: $clr-light;
        color: $clr-dark;
        flex: 1 1 50%;

        border-radius: $border-radius;

        &:hover {
            transform: scale(1.06);
        }
    }

    &__item-img {
        width: 100%;
    }

    &__item-text {
        margin-right: 32px;
        margin-left: 32px;
        margin-bottom: 16px;
        margin-top: 32px;
    }

    &__item-header {
        margin-right: 32px;
        margin-left: 32px;
        margin-bottom: 36px;
    }

}

.games {
    background-color: $clr-dark;
    padding-top: 46px;
    padding-bottom: 144px;

    color: $clr-light;

    &__header {
        font-size: $font-size-h1;
        margin-bottom: 24px;
    }

    &__content {
        display: flex;
        flex-direction: column;

        justify-content: flex-start;
        align-items: stretch;
        gap: 32px;
    }

    &__item {
        display: grid;
        grid-template-columns: 1fr 1fr;

        border-radius: $border-radius;
        background-color: $clr-light;

        overflow: hidden;

        &:nth-child(2n+1) {
            direction: rtl;
            > *{
                direction: ltr;
            }
        }
    }

    &__item-pict {
        display: block;
        overflow: hidden;
        width: 100%;
        
        border-radius: $border-radius;
    }


    &__item-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        
        color: $clr-dark;

        padding: 48px;
    }

    &__item-header{
        font-size: $font-size-h2;
        margin-bottom: 24px;
    }

    &__item-description {
        margin-bottom: 36px;
        
    }

    &__item-button {
        @include main-btn();
    }
}

.footer{    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 61px 0;

    background-color: $clr-dark-grn;

    &__rights{
        font-size: 24px;
        font-weight: 600;
    }
}