body {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  background-color: #202027;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  transition: all 0.1s, width 0s;
}

h1 {
  font-size: 64px;
  font-weight: 700;
}

h2 {
  font-size: 48px;
  font-weight: 700;
}

h3 {
  font-size: 32px;
  font-weight: 700;
}

body {
  font-size: 24px;
}

.center {
  padding-left: max(50% - 600px, 40px);
  padding-right: max(50% - 600px, 40px);
}

.header {
  position: relative;
  overflow-x: hidden;
}
.header__animation {
  position: absolute;
  overflow-x: hidden;
  left: 0;
  bottom: 0;
}

.animation {
  min-width: 100vw;
  width: -moz-fit-content;
  width: fit-content;
  height: 90px;
  display: flex;
  align-items: center;
  background-color: #BCEC30;
}
.animation__ul {
  display: flex;
  align-items: center;
  list-style: none;
}
.animation__li {
  position: relative;
  flex-wrap: nowrap;
  flex-shrink: 0;
  display: flex;
  flex-wrap: nowrap;
}
.animation__li::after {
  content: "";
  display: block;
  width: 36px;
  height: 36px;
  margin: 0 51px;
  background-image: url('data:image/svg+xml,<svg width="36" height="36" viewBox="0 0 36 36" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18 0L22.8616 13.1384L36 18L22.8616 22.8616L18 36L13.1384 22.8616L0 18L13.1384 13.1384L18 0Z" fill="%23202027"/></svg>');
}
.animation__link {
  font-size: 30px;
  letter-spacing: 0.04em;
  font-weight: 700;
  text-transform: uppercase;
}

.wellcome {
  padding-top: 196px;
  min-height: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-x: hidden;
  background-color: #E1FF8F;
  background-image: url("../pictures/big_star.svg");
  background-repeat: no-repeat;
  background-position: 100% 0;
  position: relative;
}
.wellcome::before {
  content: "";
  position: absolute;
  width: 128px;
  height: 82px;
  background-image: url("../pictures/wellcome_stars.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: max(0px, 50% - 657px);
  top: 68px;
}
.wellcome::after {
  content: "";
  position: absolute;
  width: 148px;
  height: 113px;
  background-image: url("../pictures/wellcome_stars2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  right: max(230px, 50% - 376px);
  bottom: 150px;
}
.wellcome__header {
  margin-bottom: 24px;
}
.wellcome__text {
  max-width: 740px;
  padding-bottom: 48px;
  line-height: 32px;
}
.wellcome__text b {
  font-weight: 600;
}
.wellcome__lets-go-btn {
  padding: 16px 65px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  color: #FFF;
  border-radius: 999px;
  border: none;
  background-color: #202027;
}
.wellcome__lets-go-btn:hover {
  background-color: transparent;
  color: #202027;
  outline: solid #202027 1px;
  outline-offset: -1px;
}

.about {
  background-color: transparent;
  padding-top: 94px;
  padding-bottom: 50px;
  color: #FFF;
  overflow-x: hidden;
}
.about__header {
  font-size: 64px;
  margin-bottom: 24px;
}
.about__text {
  line-height: 32px;
  margin-bottom: 72px;
  max-width: 778px;
}
.about__content {
  display: flex;
  justify-content: flex-start;
  gap: 32px;
  position: relative;
}
.about__content::after {
  content: "";
  position: absolute;
  width: 650px;
  height: 650px;
  background-image: url("../pictures/about_big.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  right: -263px;
  top: -287px;
}
.about__content::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 112px;
  background-image: url("../pictures/about_small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: -95px;
  top: 405px;
}
.about__column {
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex: 1 1 30%;
  background-color: transparent;
  z-index: 10;
}
.about__item {
  background-color: #FFF;
  color: #202027;
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 30px;
}
.about__item:hover {
  transform: scale(1.06);
}
.about__item-img {
  width: 100%;
}
.about__item-text {
  margin-right: 32px;
  margin-left: 32px;
  margin-bottom: 16px;
  margin-top: 32px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  padding: 8px 16px 10px 16px;
  border-radius: 999px;
  background-color: #F7F7F7;
}
.about__item-header {
  margin-right: 32px;
  margin-left: 32px;
  margin-bottom: 36px;
}

.games {
  background-color: transparent;
  padding-top: 46px;
  padding-bottom: 144px;
  color: #FFF;
  overflow-x: hidden;
}
.games__header {
  font-size: 64px;
  margin-bottom: 72px;
}
.games__content {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 32px;
}
.games__content::after {
  content: "";
  position: absolute;
  width: 139px;
  height: 89px;
  background-image: url("../pictures/games_after.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  right: -69px;
  bottom: -98px;
}
.games__content::before {
  content: "";
  position: absolute;
  width: 113px;
  height: 103px;
  background-image: url("../pictures/games_before.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  right: -73px;
  top: -102px;
}
.games__item {
  display: grid;
  z-index: 10;
  grid-template-columns: 1fr 1fr;
  border-radius: 30px;
  background-color: #FFF;
  overflow: hidden;
}
.games__item:nth-child(2n+1) {
  direction: rtl;
}
.games__item:nth-child(2n+1) > * {
  direction: ltr;
}
.games__item-pict {
  display: block;
  overflow: hidden;
  width: 100%;
  border-radius: 30px;
}
.games__item-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #202027;
  padding: 48px;
}
.games__item-header {
  font-size: 48px;
  margin-bottom: 24px;
}
.games__item-description {
  margin-bottom: 36px;
  line-height: 32px;
}
.games__item-button {
  padding: 16px 65px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  color: #FFF;
  border-radius: 999px;
  border: none;
  background-color: #202027;
  padding-left: 75px;
  padding-right: 75px;
}
.games__item-button:hover {
  background-color: transparent;
  color: #202027;
  outline: solid #202027 1px;
  outline-offset: -1px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 61px 0;
  background-color: #BCEC30;
}
.footer__rights {
  font-size: 24px;
  font-weight: 600;
}

@media (max-width: 1240px) {
  .wellcome__header {
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 24px;
  }
  .wellcome__text {
    max-width: 490px;
    padding: 0;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 36px;
  }
  .wellcome__lets-go-btn {
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 16px;
    padding-top: 16px;
  }
  .about {
    padding-top: 94px;
    padding-bottom: 50px;
  }
  .about__header {
    font-size: 48px;
    margin-bottom: 24px;
  }
  .about__text {
    font-size: 16px;
    line-height: 20px;
  }
  .about__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 24px;
    position: relative;
  }
  .about__content::after {
    content: "";
    position: absolute;
    right: -263px;
    top: -287px;
  }
  .about__content::before {
    content: "";
    position: absolute;
    left: -95px;
    top: 405px;
  }
  .about__column {
    display: flex;
    flex-direction: row;
    gap: 24px;
    height: auto;
  }
  .about__item {
    flex: 1 1 40%;
    overflow: hidden;
  }
  .about__item-img {
    width: 100%;
    border-radius: 30px;
  }
  .about__item-text {
    margin-right: 24px;
    margin-left: 24px;
    margin-bottom: 16px;
    margin-top: 24px;
  }
  .about__item-header {
    margin-right: 24px;
    margin-left: 24px;
  }
  .games__content {
    gap: 24px;
  }
  .games__item {
    flex-wrap: wrap;
  }
  .games__item-pict {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .games__item-text {
    padding: 29px;
    padding-bottom: 33px;
  }
  .games__item-header {
    font-size: 32px;
    margin-bottom: 16px;
  }
  .games__item-description {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 32px;
  }
  .games__item-button {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 720px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .animation {
    height: 52px;
  }
  .animation__li::after {
    width: 20px;
    height: 20px;
    margin: 0 27px;
    background-size: contain;
  }
  .animation__link {
    font-size: 16px;
    line-height: 20px;
  }
  .wellcome {
    text-align: center;
    align-items: center;
    min-height: 700px;
    padding-top: 147px;
    padding-left: 40px;
    padding-right: 40px;
    background-image: url("../pictures/big_star_mobile.svg");
  }
  .wellcome__lets-go-btn {
    margin: 0 5px;
    padding: 16px 0px;
    max-width: 284px;
    width: 100%;
    align-self: center;
  }
  .wellcome__lets-go-btn:hover {
    background-color: #202027;
    color: #FFF;
  }
  .wellcome::before {
    content: "";
    position: absolute;
    width: 75px;
    height: 68px;
    background-image: url("../pictures/wellcome_stars_mobile.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    left: 36px;
    top: 64px;
  }
  .wellcome::after {
    content: "";
    position: absolute;
    width: 70px;
    height: 64px;
    background-image: url("../pictures/wellcome_stars2_mobile.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    right: max(0px, 50% - 153px);
    bottom: 79px;
  }
  .about {
    display: none;
  }
  .games {
    padding-top: 48px;
    padding-bottom: 10px;
  }
  .games__header {
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 48px;
  }
  .games__content::before, .games__content::after {
    display: none;
  }
  .games__item {
    display: flex;
    flex-direction: column;
  }
  .games__item-button {
    padding: 16px auto;
    width: 100%;
  }
  .games__item-button:hover {
    background-color: #202027;
    color: #FFF;
  }
  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .footer__rights {
    font-size: 16px;
    line-height: 20px;
  }
}/*# sourceMappingURL=style.css.map */